*,h2{
	margin:0;
	padding: 0;
}
ul li{
	list-style: none;
}
a,a:hover{
	text-decoration: none;
}

html,body{
	height: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/*首页*/
.navbar{
	padding: 2rem 4rem;
	transition: all 0.4s ease-in-out;
	
}
.navBg{
	background: rgba(255,255,255,0.7);
	padding: 1rem 4rem;
}
.nav a {
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.nav .nav-link{
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
}
.nav .nav-link:before,
.nav .nav-link:after{
	content:"";
	position: absolute;
	left: 0;
	width: 0%;
	height: 2px;
	background: red;
    /*width: 100%;*/
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
.nav .active .nav-link:before,
.nav .active .nav-link:after{
	width: 100%;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.nav .nav-link:before{
	top: 0;
	-webkit-transform-origin: 0 50%;
	        transform-origin: 0 50%;
}
.nav .nav-link:after{
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
/*music*/
.music{
	position: fixed;
	top: 100px;
	right: 20px;
	border:4px solid red;
	border-radius: 100%;
	padding: 4px;
	background: #fff;
}
.music .music_disc{
	width: 40px;
	height: 40px;
	opacity: 0.7;
	cursor: pointer;
}
.play{
	-webkit-animation: music_disc 1s linear infinite;	
	   -moz-animation: music_disc 1s linear infinite;	
	     -o-animation: music_disc 1s linear infinite;	
			animation: music_disc 1s linear infinite;	
}
@keyframes music_disc{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.music .music_pointer{
	position: absolute;
	width: 28%;
	top:9px;
	right: 3px;
}

.bg{
	width: 100%;
	height: 100%;
	background: url("../images/banner1.jpg") no-repeat  center top;
	/*background: url("../images/sBan.jpg") no-repeat #e0ebe8 center top;*/
	background-attachment: fixed;
	background-size: 100% 100%;
}


/*简历 resume*/
.resume .resumeBan img{
	/*background: url("../images/resumeBan.jpg") no-repeat center center;*/
	max-width: 100%;
	height: auto;
}
.resume .re-wrap{
	position: relative;
	font-size: 0.9rem;
	margin-top: -100px;
}
.resume .re-wrap h3{
	font-size: 1.5rem;
}
.resume .re-wrap:before{
	content: '';
	position: absolute;
	left: 50%;
	top:0;
	width: 2px;
	height: 1500px;
	border-left: 1px solid #ddd
}
.resume .re-wrap .re-head{
	margin-bottom: 80px;
}
.resume .re-wrap .re-head img{
	border-radius: 100%;
	border: 12px solid #eee;
}
.resume p{
	font-family: "microsoft yahei";
	line-height: 24px;
	margin:0;
	line-height: 34px;
}
/*circle*/
.resume .re-wrap  .re-circle i{
	position: absolute;
	left: 50%;
	margin-left: -10px;
	display: inline-block;
	width: 20px;
	height: 20px;
}
.resume .re-wrap  .re-circle i.re-circle1{
	top:305px;
}
/*自我介绍*/
.intro{
	width: 100%;
	background-color: #ffeeee
}


/*作品*/
.project{
	background: #eee;
	padding-top: 80px;
	padding-bottom: 40px;
}
.section-headwrap{
	margin-bottom: 50px;
}
.section-headwrap .section-subhead{
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
}
.post{
	position: relative;
	padding-bottom: 38px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 2px 0px #ddd;
	background: #fff;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
.post:hover{
	-webkit-box-shadow: 0px 3px 8px 2px #ccc;
	   -moz-box-shadow: 0px 3px 8px 2px #ccc;
			box-shadow: 0px 3px 8px 2px #ccc;

}
.project .morePro{
	padding: 50px 0 20px;
}
.project .moreBtn{
	display: block;
	/*-webkit-animation: btnRotate 2.5s linear  infinite;
	        animation: btnRotate 2.5s linear infinate;*/
	/*transform-origin:0 0;*/
}
@keyframes btnRotate{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.project .moreBtn img{
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-top: 30px;
	-webkit-animation: btnRotate 2.5s linear  infinite;
	        animation: btnRotate 2.5s linear infinate;
	/*transform-origin:0 0;*/
}
.post{
	padding: 12px;
}
.post img{
	max-width: 100%;
	height: auto;
	transition:all 0.5s ease-in-out;
}
/*.post .post-title{
	position: absolute;
	left: 0;
	bottom: 12px;
	width: 100%;
	font-size: 20px;
	margin:0;
	text-align: center;
}*/
.post .post-img a{
	/*padding: 12px;*/
	display: block;
	overflow: hidden;
}

.post .post-img a:hover img{
	transform:scale(1.1);
}
/*我的简历*/
.cv{
	padding: 50px 0;
}